.loader-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    /* inset: 0; */
    background-color: rgba(0, 0, 0, 1);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mountain-svg {
    width: 200px;
    height: 100px;
  }
  
  .mountain-path {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: drawPath 2s ease-in-out infinite;
  }
  
  .path2 {
    animation-delay: 0.5s;
    opacity: 0.5;
  }
  
  @keyframes drawPath {
    0% {
      stroke-dashoffset: 600;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 600;
    }
  }
  