.text-stroke {
  -webkit-text-stroke: 2px white;
  color: transparent;
}
.text-stroke-setusapart{
  -webkit-text-stroke: 2px #1d1f10; 
  color: transpardarkent;
}
.text-stroke-coreValue{
  -webkit-text-stroke: 2px #edfeee; 
  color: transpardarkent;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* loading animation */

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #18181C;
}

.mountain-svg {
  width: 300px;
  height: auto;
}
.mountain-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawMountain 3s linear forwards;
}

@keyframes drawMountain {
  to {
    stroke-dashoffset: 0;
  }
}

/* about */
.perspective {
  perspective: 800px;
}

.transform-style-preserve {
  transform-style: preserve-3d;
}