@import "tailwindcss";


@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-primary:#1FA951;
  --color-secondary:#729a78;
  --color-light:#edfeee;
  --color-highlight:#f6edd9;
  --color-lightText:#eaeeff;
  --color-darkText:#1d1f10
  
}